<ion-header>

  <ion-navbar>
    <ion-title>{{'Questionnaire'}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col col-12 style="background-color:aliceblue">Timings</ion-col>
        <ion-item>
          <ion-label>Last Time In</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Last Time Out</ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
          </ion-item>
    </ion-row>

    <ion-row>
      <ion-col col-12 style="background-color:aliceblue">Specifications</ion-col>

      <ion-item>
          <ion-label>Verified</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Power Rating (in kW)</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>

            <ion-list radio-group>
                <ion-list-header>
                  Power Level
                </ion-list-header>
              
                <ion-item>
                  <ion-label>Level1</ion-label>
                  <ion-radio checked="true" value="Level1"></ion-radio>
                </ion-item>
              
                <ion-item>
                  <ion-label>Level2</ion-label>
                  <ion-radio value="Level2"></ion-radio>
                </ion-item>
              
                <ion-item>
                  <ion-label>Level3</ion-label>
                  <ion-radio value="Level3"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Level4</ion-label>
                    <ion-radio value="Level4"></ion-radio>
                  </ion-item>

              </ion-list>

              <ion-list-header>
                  Select Equipments
              </ion-list-header>

              <ion-item>
                  <ion-label>Chiller</ion-label>
                  <ion-checkbox color="dark"></ion-checkbox>
                </ion-item>
                
                <ion-item>
                  <ion-label>Ventilation</ion-label>
                  <ion-checkbox color="dark"></ion-checkbox>
                </ion-item>

                <ion-item>
                    <ion-label>Lightning</ion-label>
                    <ion-checkbox color="dark" ></ion-checkbox>
                  </ion-item>
                  
                  <ion-item>
                    <ion-label>Plug Load</ion-label>
                    <ion-checkbox color="dark"></ion-checkbox>
                  </ion-item>

                  <ion-item>
                      <ion-label>Heat Machine</ion-label>
                      <ion-checkbox color="dark"></ion-checkbox>
                    </ion-item>
                    
                    <ion-item>
                      <ion-label>Kitchen Equipment</ion-label>
                      <ion-checkbox color="dark"></ion-checkbox>
                    </ion-item>


    </ion-row>

  </ion-grid>

  <button ion-button (click)='submitAns()'>Submit</button>


</ion-content>
