<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Customer Profile'}}</ion-title>
    
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <!-- <ion-title>{{data}}</ion-title> -->
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Designation</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Telephone</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Fax</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Mother's Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Father's Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Weight (in Kg)</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Height</ion-label>
      <ion-select>
        <ion-option *ngFor="let height of heights" [value]="height">{{height}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Daily Water Intake (in ml)</ion-label>
      <ion-select>
        <ion-option *ngFor="let volume of volumes" [value]="volume">{{volume}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <label>{{label}}</label>
    <input type="file" (change)="fileUpload($event)" id="file-input" style="opacity: 0" #fileInput>
    <button ion-button round>Upload Image</button>
  </ion-item>


    <ion-navbar>
      <ion-title>{{ 'Audit Details' }}</ion-title>
    </ion-navbar>
  

  <ion-grid>

    <ion-row>
      <ion-col col-12 style="background-color:aliceblue">Timings</ion-col>
      <ion-item>
        <ion-label>Last Time In</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Last Time Out</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col col-12 style="background-color:aliceblue">Specifications</ion-col>

      <ion-item>
        <ion-label>Verified</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Power Rating (in kW)</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-list radio-group>
        <ion-list-header>
          Power Level
        </ion-list-header>

        <ion-item>
          <ion-label>Level1</ion-label>
          <ion-radio checked="true" value="Level1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Level2</ion-label>
          <ion-radio value="Level2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Level3</ion-label>
          <ion-radio value="Level3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Level4</ion-label>
          <ion-radio value="Level4"></ion-radio>
        </ion-item>

      </ion-list>

      <ion-list-header>
        Select Equipments
      </ion-list-header>

      <ion-item>
        <ion-label>Chiller</ion-label>
        <ion-checkbox color="dark"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Ventilation</ion-label>
        <ion-checkbox color="dark"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Lightning</ion-label>
        <ion-checkbox color="dark"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Plug Load</ion-label>
        <ion-checkbox color="dark"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Heat Machine</ion-label>
        <ion-checkbox color="dark"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Kitchen Equipment</ion-label>
        <ion-checkbox color="dark"></ion-checkbox>
      </ion-item>


    </ion-row>

  </ion-grid>

  <button ion-button (click)='submitAns()'>Submit</button>

</ion-content>
